IPSOS/TripolistMailAdapter/Web References/cn.tripolis.dialogue.import/ImportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ts="http://services.tripolis.com/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://importer.services.tripolis.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportService" targetNamespace="http://importer.services.tripolis.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
				Published by Tripolis Solutions - buildnumber: 2012-07-23T13:40:30.799+02:00</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:tns="http://services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="authInfo" type="tns:AuthInfo" />
      <xs:element name="authToken" type="tns:AuthToken" />
      <xs:element name="responseLanguage" type="tns:ResponseLanguage" />
      <xs:element name="version" type="tns:Version" />
      <xs:complexType name="AuthInfo">
        <xs:sequence>
          <xs:element name="client" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AuthToken">
        <xs:sequence>
          <xs:element name="applicationKey" type="xs:string" />
          <xs:element name="token" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ResponseLanguage">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:simpleType name="Version">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:complexType name="KeyValuePair">
        <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://response.services.tripolis.com/" xmlns:ns1="http://common.services.tripolis.com/" targetNamespace="http://schedule.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://common.services.tripolis.com/" />
      <xs:import namespace="http://response.services.tripolis.com/" />
      <xs:complexType name="ImportScheduleListResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:SortableListResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="importSchedules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="importSchedule" type="ns1:ImportSchedule" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://response.services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://request.services.tripolis.com/" xmlns:ns1="http://services.tripolis.com/" targetNamespace="http://response.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://services.tripolis.com/" />
      <xs:import namespace="http://request.services.tripolis.com/" />
      <xs:complexType name="ProcessIDResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="processId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="serviceInfoItems">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceInfoItem" type="ns1:KeyValuePair" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="responseStatus" type="tns:ResponseStatus" />
          <xs:element minOccurs="0" name="errors">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="error" type="tns:ServiceError" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseStatus">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="category" type="xs:string" />
          <xs:element minOccurs="0" name="messageLanguage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceError">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="identifierName" type="xs:string" />
          <xs:element minOccurs="0" name="identifierValue" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="identifierId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SortableListResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:PageableListResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="sorting" type="ns2:Sorting" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PageableListResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="paging" type="tns:PagingOut" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PagingOut">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:PagingIn">
            <xs:sequence>
              <xs:element name="totalItems" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://request.services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.services.tripolis.com/" targetNamespace="http://request.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://common.services.tripolis.com/" />
      <xs:complexType name="ServiceRequest">
        <xs:all />
      </xs:complexType>
      <xs:complexType name="SortableContactDatabaseIDNameRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:SortableListRequest">
            <xs:sequence>
              <xs:element name="contactDatabase" type="ns1:IdNameModel" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SortableListRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:PageableListRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="sorting" type="tns:Sorting" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PageableListRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="paging" type="tns:PagingIn" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Sorting">
        <xs:sequence>
          <xs:element name="sortBy" type="xs:string" />
          <xs:element name="sortOrder" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PagingIn">
        <xs:sequence>
          <xs:element name="pageNr" type="xs:int" />
          <xs:element name="pageSize" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ImportIDRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceRequest">
            <xs:sequence>
              <xs:element name="importId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns5="http://services.tripolis.com/" xmlns:ts="http://services.tripolis.com/" xmlns:ns4="http://schedule.services.tripolis.com/" xmlns:ns3="http://response.services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://request.services.tripolis.com/" xmlns:ns1="http://common.services.tripolis.com/" elementFormDefault="unqualified" targetNamespace="http://importer.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://common.services.tripolis.com/" />
      <xs:import namespace="http://request.services.tripolis.com/" />
      <xs:import namespace="http://response.services.tripolis.com/" />
      <xs:import namespace="http://schedule.services.tripolis.com/" />
      <xs:import namespace="http://services.tripolis.com/" />
      <xs:element name="errorResponse" type="ns3:ErrorResponse" />
      <xs:element name="getImportStatus" type="tns:getImportStatus" />
      <xs:element name="getImportStatusResponse" type="tns:getImportStatusResponse" />
      <xs:element name="getSchedulesByContactDatabaseId" type="tns:getSchedulesByContactDatabaseId" />
      <xs:element name="getSchedulesByContactDatabaseIdResponse" type="tns:getSchedulesByContactDatabaseIdResponse" />
      <xs:element name="getServiceInfo" type="tns:getServiceInfo" />
      <xs:element name="getServiceInfoResponse" type="tns:getServiceInfoResponse" />
      <xs:element name="importContacts" type="tns:importContacts" />
      <xs:element name="importContactsFromFtp" type="tns:importContactsFromFtp" />
      <xs:element name="importContactsFromFtpResponse" type="tns:importContactsFromFtpResponse" />
      <xs:element name="importContactsResponse" type="tns:importContactsResponse" />
      <xs:element name="scheduleImportContacts" type="tns:scheduleImportContacts" />
      <xs:element name="scheduleImportContactsResponse" type="tns:scheduleImportContactsResponse" />
      <xs:element name="unscheduleImportContacts" type="tns:unscheduleImportContacts" />
      <xs:element name="unscheduleImportContactsResponse" type="tns:unscheduleImportContactsResponse" />
      <xs:complexType name="importContactsFromFtp">
        <xs:sequence>
          <xs:element minOccurs="0" name="importContactsFromFtpRequest" type="tns:ImportContactsFromFtpRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ImportContactsFromFtpRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:ServiceRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="contactDatabaseId" type="xs:string" />
              <xs:element minOccurs="0" name="contactGroupIds">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="contactGroupId" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="reportReceiverAddress" type="xs:string" />
              <xs:element name="importMode" type="ns1:importMode" />
              <xs:element name="fileName" type="xs:string" />
              <xs:element name="extension" type="ns1:fileExtension" />
              <xs:element name="ftpAccountId" type="xs:string" />
              <xs:element minOccurs="0" name="scheduleAt" type="xs:dateTime" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="importContactsFromFtpResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:ImportIDResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ImportIDResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ns3:ProcessIDResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="importId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getServiceInfo">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getServiceInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="ns3:ServiceResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="unscheduleImportContacts">
        <xs:sequence>
          <xs:element minOccurs="0" name="unscheduleImportContactsRequest" type="tns:IDRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IDRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:ServiceRequest">
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="unscheduleImportContactsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="ns3:ServiceResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scheduleImportContacts">
        <xs:sequence>
          <xs:element minOccurs="0" name="scheduleImportContactsRequest" type="tns:ScheduleImportContactsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ScheduleImportContactsRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:ServiceRequest">
            <xs:sequence>
              <xs:element name="contactDatabase" type="ns1:IdNameModel" />
              <xs:element minOccurs="0" name="contactGroupIds">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="contactGroupId" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="reportReceiverAddress" type="xs:string" />
              <xs:element name="importMode" type="ns1:importMode" />
              <xs:element name="fileName" type="xs:string" />
              <xs:element name="extension" type="ns1:fileExtension" />
              <xs:element name="ftpAccountId" type="xs:string" />
              <xs:element name="schedule" type="ns1:Schedule" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="scheduleImportContactsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:IDResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IDResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ns3:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getSchedulesByContactDatabaseId">
        <xs:sequence>
          <xs:element minOccurs="0" name="getSchedulesByContactDatabaseIdRequest" type="ns2:SortableContactDatabaseIDNameRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSchedulesByContactDatabaseIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="ns4:ImportScheduleListResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Import">
        <xs:complexContent mixed="false">
          <xs:extension base="ns3:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="contactDatabaseId" type="xs:string" />
              <xs:element minOccurs="0" name="contactGroupIds">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="contactGroupId" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="createdBy" type="xs:string" />
              <xs:element minOccurs="0" name="importMode" type="ns1:importMode" />
              <xs:element minOccurs="0" name="fileName" type="xs:string" />
              <xs:element minOccurs="0" name="ftpAccountId" type="xs:string" />
              <xs:element minOccurs="0" name="source" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="importContacts">
        <xs:sequence>
          <xs:element minOccurs="0" name="importContactsRequest" type="tns:ImportContactsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ImportContactsRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns2:ServiceRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="contactDatabaseId" type="xs:string" />
              <xs:element minOccurs="0" name="contactGroupIds">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="contactGroupId" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="reportReceiverAddress" type="xs:string" />
              <xs:element name="importMode" type="ns1:importMode" />
              <xs:element minOccurs="0" name="fileName" type="xs:string" />
              <xs:element name="extension" type="ns1:fileExtension" />
              <xs:element xmlns:ns6="http://www.w3.org/2005/05/xmlmime" ns6:expectedContentTypes="application/octet-stream" name="importFile" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="importContactsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:ImportIDResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getImportStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="getImportStatusRequest" type="ns2:ImportIDRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getImportStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:ImportStatusResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ImportStatusResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ns3:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="startedAt" type="xs:dateTime" />
              <xs:element name="validationDuration" type="xs:long" />
              <xs:element name="transferDuration" type="xs:long" />
              <xs:element name="databaseDuration" type="xs:long" />
              <xs:element name="totalDuration" type="xs:long" />
              <xs:element minOccurs="0" name="contactDatabaseId" type="xs:string" />
              <xs:element minOccurs="0" name="contactDatabaseLabel" type="xs:string" />
              <xs:element minOccurs="0" name="contactGroups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="contactGroup" type="ns5:KeyValuePair" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="importedBy" type="xs:string" />
              <xs:element minOccurs="0" name="importMode" type="ns1:importMode" />
              <xs:element minOccurs="0" name="importStatus" type="ns1:importStatus" />
              <xs:element minOccurs="0" name="importedFile" type="xs:string" />
              <xs:element minOccurs="0" name="ftpAccountId" type="xs:string" />
              <xs:element minOccurs="0" name="source" type="xs:string" />
              <xs:element name="created" type="xs:int" />
              <xs:element name="updated" type="xs:int" />
              <xs:element name="skipped" type="xs:int" />
              <xs:element name="duplicates" type="xs:int" />
              <xs:element name="addedToGroup" type="xs:int" />
              <xs:element name="removedFromGroup" type="xs:int" />
              <xs:element name="numberOfErrors" type="xs:int" />
              <xs:element minOccurs="0" name="importErrors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="importError" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://common.services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://importer.services.tripolis.com/" targetNamespace="http://common.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://importer.services.tripolis.com/" />
      <xs:complexType name="IdNameModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Schedule">
        <xs:choice>
          <xs:element name="once" type="tns:ScheduleOnce" />
          <xs:element name="hourly" type="tns:ScheduleHourly" />
          <xs:element name="daily" type="tns:ScheduleDaily" />
          <xs:element name="weekly" type="tns:ScheduleWeekly" />
          <xs:element name="weeklyInterval" type="tns:ScheduleWeeklyInterval" />
          <xs:element name="monthly" type="tns:ScheduleMonthly" />
          <xs:element name="monthlyWeekday" type="tns:ScheduleMonthlyWeekday" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="ScheduleOnce">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleBase">
            <xs:sequence>
              <xs:element name="at" type="xs:dateTime" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ScheduleBase" abstract="true">
        <xs:all />
      </xs:complexType>
      <xs:complexType name="ScheduleHourly">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleRecurring">
            <xs:sequence>
              <xs:element name="intervalInHours" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ScheduleRecurring" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="startAt" type="xs:dateTime" />
              <xs:element minOccurs="0" name="endAt" type="xs:dateTime" />
              <xs:element minOccurs="0" name="repeatCount" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ScheduleDaily">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleRecurring">
            <xs:sequence>
              <xs:element minOccurs="0" name="intervalInDays" type="xs:int" />
              <xs:element name="hour" type="xs:int" />
              <xs:element name="minute" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ScheduleWeekly">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleRecurring">
            <xs:sequence>
              <xs:element minOccurs="0" name="daysOfWeek">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="dayOfWeek" type="tns:weekdayModel" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hour" type="xs:int" />
              <xs:element name="minute" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ScheduleWeeklyInterval">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleRecurring">
            <xs:sequence>
              <xs:element name="intervalInWeeks" type="xs:int" />
              <xs:element name="dayOfWeek" type="tns:weekdayModel" />
              <xs:element name="hour" type="xs:int" />
              <xs:element name="minute" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ScheduleMonthly">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleRecurring">
            <xs:sequence>
              <xs:element name="dayOfMonth" type="xs:int" />
              <xs:element name="hour" type="xs:int" />
              <xs:element name="minute" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ScheduleMonthlyWeekday">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ScheduleRecurring">
            <xs:sequence>
              <xs:element name="dayOfWeek" type="tns:weekdayModel" />
              <xs:element name="nth" type="xs:int" />
              <xs:element name="hour" type="xs:int" />
              <xs:element name="minute" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ImportSchedule">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="status" type="tns:processStatusModel" />
          <xs:element minOccurs="0" name="contactDatabaseId" type="xs:string" />
          <xs:element minOccurs="0" name="schedule" type="tns:Schedule" />
          <xs:element minOccurs="0" name="import" type="ns1:Import" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="importMode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADD_TO_GROUP" />
          <xs:enumeration value="SYNCHRONIZE_GROUP" />
          <xs:enumeration value="EXCLUDE_FROM_GROUP" />
          <xs:enumeration value="ONLY_ALLOW_ADD_TO_GROUP" />
          <xs:enumeration value="ADD_OR_UPDATE" />
          <xs:enumeration value="ONLY_ALLOW_ADD" />
          <xs:enumeration value="ONLY_ALLOW_UPDATE" />
          <xs:enumeration value="ACCEPTEMAIL_ADD_TO_GROUP" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="fileExtension">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CSV" />
          <xs:enumeration value="XLS" />
          <xs:enumeration value="XLSX" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="weekdayModel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUNDAY" />
          <xs:enumeration value="MONDAY" />
          <xs:enumeration value="TUESDAY" />
          <xs:enumeration value="WEDNESDAY" />
          <xs:enumeration value="THURSDAY" />
          <xs:enumeration value="FRIDAY" />
          <xs:enumeration value="SATURDAY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="processStatusModel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SCHEDULED" />
          <xs:enumeration value="RUNNING" />
          <xs:enumeration value="FINISHED" />
          <xs:enumeration value="ABORTED" />
          <xs:enumeration value="ERROR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="importStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SCHEDULED" />
          <xs:enumeration value="VALIDATING" />
          <xs:enumeration value="TRANSFERING" />
          <xs:enumeration value="RUNNING" />
          <xs:enumeration value="STOPPED" />
          <xs:enumeration value="ABORTED" />
          <xs:enumeration value="ENDED" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="importContactsFromFtpResponse">
    <wsdl:part name="parameters" element="tns:importContactsFromFtpResponse" />
  </wsdl:message>
  <wsdl:message name="unscheduleImportContacts">
    <wsdl:part name="parameters" element="tns:unscheduleImportContacts" />
  </wsdl:message>
  <wsdl:message name="importContactsFromFtp">
    <wsdl:part name="parameters" element="tns:importContactsFromFtp" />
  </wsdl:message>
  <wsdl:message name="unscheduleImportContactsResponse">
    <wsdl:part name="parameters" element="tns:unscheduleImportContactsResponse" />
  </wsdl:message>
  <wsdl:message name="getSchedulesByContactDatabaseIdResponse">
    <wsdl:part name="parameters" element="tns:getSchedulesByContactDatabaseIdResponse" />
  </wsdl:message>
  <wsdl:message name="responseLanguageHeader">
    <wsdl:part name="responseLanguage" element="ts:responseLanguage" />
  </wsdl:message>
  <wsdl:message name="importContacts">
    <wsdl:part name="parameters" element="tns:importContacts" />
  </wsdl:message>
  <wsdl:message name="scheduleImportContacts">
    <wsdl:part name="parameters" element="tns:scheduleImportContacts" />
  </wsdl:message>
  <wsdl:message name="getServiceInfoResponse">
    <wsdl:part name="parameters" element="tns:getServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getImportStatusResponse">
    <wsdl:part name="parameters" element="tns:getImportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="scheduleImportContactsResponse">
    <wsdl:part name="parameters" element="tns:scheduleImportContactsResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceInfo">
    <wsdl:part name="parameters" element="tns:getServiceInfo" />
  </wsdl:message>
  <wsdl:message name="authInfoHeader">
    <wsdl:part name="authInfo" element="ts:authInfo" />
  </wsdl:message>
  <wsdl:message name="getImportStatus">
    <wsdl:part name="parameters" element="tns:getImportStatus" />
  </wsdl:message>
  <wsdl:message name="getSchedulesByContactDatabaseId">
    <wsdl:part name="parameters" element="tns:getSchedulesByContactDatabaseId" />
  </wsdl:message>
  <wsdl:message name="importContactsResponse">
    <wsdl:part name="parameters" element="tns:importContactsResponse" />
  </wsdl:message>
  <wsdl:message name="errorResponseFault">
    <wsdl:part name="errorResponse" element="tns:errorResponse" />
  </wsdl:message>
  <wsdl:portType name="ImportService">
    <wsdl:operation name="importContactsFromFtp">
      <wsdl:input name="importContactsFromFtp" message="tns:importContactsFromFtp" />
      <wsdl:output name="importContactsFromFtpResponse" message="tns:importContactsFromFtpResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="getServiceInfo">
      <wsdl:input name="getServiceInfo" message="tns:getServiceInfo" />
      <wsdl:output name="getServiceInfoResponse" message="tns:getServiceInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="unscheduleImportContacts">
      <wsdl:input name="unscheduleImportContacts" message="tns:unscheduleImportContacts" />
      <wsdl:output name="unscheduleImportContactsResponse" message="tns:unscheduleImportContactsResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="scheduleImportContacts">
      <wsdl:input name="scheduleImportContacts" message="tns:scheduleImportContacts" />
      <wsdl:output name="scheduleImportContactsResponse" message="tns:scheduleImportContactsResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="getSchedulesByContactDatabaseId">
      <wsdl:input name="getSchedulesByContactDatabaseId" message="tns:getSchedulesByContactDatabaseId" />
      <wsdl:output name="getSchedulesByContactDatabaseIdResponse" message="tns:getSchedulesByContactDatabaseIdResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="importContacts">
      <wsdl:input name="importContacts" message="tns:importContacts" />
      <wsdl:output name="importContactsResponse" message="tns:importContactsResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="getImportStatus">
      <wsdl:input name="getImportStatus" message="tns:getImportStatus" />
      <wsdl:output name="getImportStatusResponse" message="tns:getImportStatusResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImportServiceSoapBinding" type="tns:ImportService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="importContactsFromFtp">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="importContactsFromFtp">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="importContactsFromFtpResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceInfo">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getServiceInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getServiceInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scheduleImportContacts">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="scheduleImportContacts">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="scheduleImportContactsResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="unscheduleImportContacts">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="unscheduleImportContacts">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="unscheduleImportContactsResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSchedulesByContactDatabaseId">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getSchedulesByContactDatabaseId">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSchedulesByContactDatabaseIdResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImportStatus">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getImportStatus">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getImportStatusResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importContacts">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="importContacts">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="importContactsResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportService">
    <wsdl:port name="ImportServicePort" binding="tns:ImportServiceSoapBinding">
      <soap12:address location="https://dialogue.tripolis.cn/api2/soap/ImportService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>