Mail/TriplosDialogueWsTest/Web References/MailAdapterWs/MailAdapter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.tripolis.com.cn/" xmlns:s1="http://common.services.tripolis.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.tripolis.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.tripolis.com.cn/">
      <s:import namespace="http://common.services.tripolis.com/" />
      <s:element name="publishingBulkEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="tns:Authorization" />
            <s:element minOccurs="0" maxOccurs="1" name="dialogueSetting" type="tns:DialogueSetting" />
            <s:element minOccurs="0" maxOccurs="1" name="contactGroup" type="tns:ContactGroup" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="directEmail" type="tns:DirectEmail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Authorization">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="client" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DialogueSetting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="contactDatabaseId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="workspaceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="directEmailId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ftpAccountId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="groupLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DirectEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="emailLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fromName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fromAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="htmlContent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reportReceiveAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isContentSame" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="publishingBulkEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="publishingBulkEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="publishingSmallScaleEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="tns:Authorization" />
            <s:element minOccurs="0" maxOccurs="1" name="dialogueSetting" type="tns:DialogueSetting" />
            <s:element minOccurs="0" maxOccurs="1" name="contactGroup" type="tns:ContactGroup" />
            <s:element minOccurs="0" maxOccurs="1" name="importFiles" type="tns:ImportFiles" />
            <s:element minOccurs="0" maxOccurs="1" name="directEmail" type="tns:DirectEmail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImportFiles">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fileType" type="s1:fileExtension" />
          <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="csvDilimiter" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="publishingSmallScaleEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="publishingSmallScaleEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSingleEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="tns:Authorization" />
            <s:element minOccurs="0" maxOccurs="1" name="dialogueSetting" type="tns:DialogueSetting" />
            <s:element minOccurs="0" maxOccurs="1" name="directEmail" type="tns:DirectEmail" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactInfos" type="tns:ArrayOfKeyValuePair" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePair" nillable="true" type="tns:KeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendSingleEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSingleEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="tns:Authorization" />
            <s:element minOccurs="0" maxOccurs="1" name="dialogueSetting" type="tns:DialogueSetting" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactInfos" type="tns:ArrayOfKeyValuePair" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerContactResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://common.services.tripolis.com/">
      <s:simpleType name="fileExtension">
        <s:restriction base="s:string">
          <s:enumeration value="CSV" />
          <s:enumeration value="XLS" />
          <s:enumeration value="XLSX" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="publishingBulkEmailSoapIn">
    <wsdl:part name="parameters" element="tns:publishingBulkEmail" />
  </wsdl:message>
  <wsdl:message name="publishingBulkEmailSoapOut">
    <wsdl:part name="parameters" element="tns:publishingBulkEmailResponse" />
  </wsdl:message>
  <wsdl:message name="publishingSmallScaleEmailSoapIn">
    <wsdl:part name="parameters" element="tns:publishingSmallScaleEmail" />
  </wsdl:message>
  <wsdl:message name="publishingSmallScaleEmailSoapOut">
    <wsdl:part name="parameters" element="tns:publishingSmallScaleEmailResponse" />
  </wsdl:message>
  <wsdl:message name="sendSingleEmailSoapIn">
    <wsdl:part name="parameters" element="tns:sendSingleEmail" />
  </wsdl:message>
  <wsdl:message name="sendSingleEmailSoapOut">
    <wsdl:part name="parameters" element="tns:sendSingleEmailResponse" />
  </wsdl:message>
  <wsdl:message name="registerContactSoapIn">
    <wsdl:part name="parameters" element="tns:registerContact" />
  </wsdl:message>
  <wsdl:message name="registerContactSoapOut">
    <wsdl:part name="parameters" element="tns:registerContactResponse" />
  </wsdl:message>
  <wsdl:portType name="MailAdapterSoap">
    <wsdl:operation name="publishingBulkEmail">
      <wsdl:input message="tns:publishingBulkEmailSoapIn" />
      <wsdl:output message="tns:publishingBulkEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="publishingSmallScaleEmail">
      <wsdl:input message="tns:publishingSmallScaleEmailSoapIn" />
      <wsdl:output message="tns:publishingSmallScaleEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSingleEmail">
      <wsdl:input message="tns:sendSingleEmailSoapIn" />
      <wsdl:output message="tns:sendSingleEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registerContact">
      <wsdl:input message="tns:registerContactSoapIn" />
      <wsdl:output message="tns:registerContactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailAdapterSoap" type="tns:MailAdapterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="publishingBulkEmail">
      <soap:operation soapAction="http://ws.tripolis.com.cn/publishingBulkEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishingSmallScaleEmail">
      <soap:operation soapAction="http://ws.tripolis.com.cn/publishingSmallScaleEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSingleEmail">
      <soap:operation soapAction="http://ws.tripolis.com.cn/sendSingleEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerContact">
      <soap:operation soapAction="http://ws.tripolis.com.cn/registerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailAdapterSoap12" type="tns:MailAdapterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="publishingBulkEmail">
      <soap12:operation soapAction="http://ws.tripolis.com.cn/publishingBulkEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publishingSmallScaleEmail">
      <soap12:operation soapAction="http://ws.tripolis.com.cn/publishingSmallScaleEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSingleEmail">
      <soap12:operation soapAction="http://ws.tripolis.com.cn/sendSingleEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerContact">
      <soap12:operation soapAction="http://ws.tripolis.com.cn/registerContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailAdapter">
    <wsdl:port name="MailAdapterSoap" binding="tns:MailAdapterSoap">
      <soap:address location="http://115.29.229.134:8081/MailAdapter.asmx" />
    </wsdl:port>
    <wsdl:port name="MailAdapterSoap12" binding="tns:MailAdapterSoap12">
      <soap12:address location="http://115.29.229.134:8081/MailAdapter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>