Mail/TripolisDialogueAdapter/Web References/cn.tripolis.dialogue.directEmailType/DirectEmailTypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ts="http://services.tripolis.com/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://type.directemail.services.tripolis.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DirectEmailTypeService" targetNamespace="http://type.directemail.services.tripolis.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
				Published by Tripolis Solutions - buildnumber: 2012-07-23T13:40:30.444+02:00</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ns4="http://response.services.tripolis.com/" xmlns:ns3="http://request.services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://services.tripolis.com/" xmlns:ns1="http://common.services.tripolis.com/" elementFormDefault="unqualified" targetNamespace="http://type.directemail.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://common.services.tripolis.com/" />
      <xs:import namespace="http://services.tripolis.com/" />
      <xs:import namespace="http://request.services.tripolis.com/" />
      <xs:import namespace="http://response.services.tripolis.com/" />
      <xs:element name="create" type="tns:create" />
      <xs:element name="createResponse" type="tns:createResponse" />
      <xs:element name="delete" type="tns:delete" />
      <xs:element name="deleteResponse" type="tns:deleteResponse" />
      <xs:element name="errorResponse" type="ns4:ErrorResponse" />
      <xs:element name="getById" type="tns:getById" />
      <xs:element name="getByIdResponse" type="tns:getByIdResponse" />
      <xs:element name="getByWorkspaceId" type="tns:getByWorkspaceId" />
      <xs:element name="getByWorkspaceIdResponse" type="tns:getByWorkspaceIdResponse" />
      <xs:element name="getServiceInfo" type="tns:getServiceInfo" />
      <xs:element name="getServiceInfoResponse" type="tns:getServiceInfoResponse" />
      <xs:element name="update" type="tns:update" />
      <xs:element name="updateResponse" type="tns:updateResponse" />
      <xs:complexType name="create">
        <xs:sequence>
          <xs:element minOccurs="0" name="createRequest" type="tns:CreateDirectEmailTypeRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateDirectEmailTypeRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:createServiceRequest">
            <xs:sequence>
              <xs:element name="workspaceId" type="xs:string" />
              <xs:element name="label" type="xs:string" />
              <xs:element minOccurs="0" name="name" type="xs:string" />
              <xs:element minOccurs="0" name="fromName" type="xs:string" />
              <xs:element name="fromAddress" type="xs:string" />
              <xs:element name="toEmailFieldId" type="xs:string" />
              <xs:element minOccurs="0" name="replyToAddress" type="xs:string" />
              <xs:element minOccurs="0" name="externalHtmlUrl" type="xs:string" />
              <xs:element minOccurs="0" name="externalTextUrl" type="xs:string" />
              <xs:element minOccurs="0" name="enableWysiwygEditor" type="xs:boolean" />
              <xs:element minOccurs="0" name="encoding" type="ns1:characterEncoding" />
              <xs:element minOccurs="0" name="enableAttachments" type="xs:boolean" />
              <xs:element minOccurs="0" name="properties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="property" type="ns2:KeyValuePair" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createServiceRequest" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="ns3:ServiceRequest">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="ns4:IDResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getByWorkspaceId">
        <xs:sequence>
          <xs:element minOccurs="0" name="getByWorkspaceIdRequest" type="ns3:WorkspaceIDRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getByWorkspaceIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:DirectEmailTypeListResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DirectEmailTypeListResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ns4:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="directEmailTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="directEmailType" type="ns1:DirectEmailType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getServiceInfo">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getServiceInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="ns4:ServiceResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="update">
        <xs:sequence>
          <xs:element minOccurs="0" name="updateRequest" type="tns:UpdateDirectEmailTypeRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateDirectEmailTypeRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns3:ServiceRequest">
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element minOccurs="0" name="label" type="xs:string" />
              <xs:element minOccurs="0" name="name" type="xs:string" />
              <xs:element minOccurs="0" name="fromName" type="xs:string" />
              <xs:element minOccurs="0" name="fromAddress" type="xs:string" />
              <xs:element minOccurs="0" name="toEmailFieldId" type="xs:string" />
              <xs:element minOccurs="0" name="replyToAddress" type="xs:string" />
              <xs:element minOccurs="0" name="externalHtmlUrl" type="xs:string" />
              <xs:element minOccurs="0" name="externalTextUrl" type="xs:string" />
              <xs:element minOccurs="0" name="enableWysiwygEditor" type="xs:boolean" />
              <xs:element minOccurs="0" name="encoding" type="ns1:characterEncoding" />
              <xs:element minOccurs="0" name="enableAttachments" type="xs:boolean" />
              <xs:element minOccurs="0" name="properties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="property" type="ns2:KeyValuePair" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="ns4:IDResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getById">
        <xs:sequence>
          <xs:element minOccurs="0" name="getByIdRequest" type="ns3:IDRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:DirectEmailTypeResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DirectEmailTypeResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ns4:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="directEmailType" type="ns1:DirectEmailType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteRequest" type="ns3:IDRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="ns4:IDResponse" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="authInfo" type="tns:AuthInfo" />
      <xs:element name="authToken" type="tns:AuthToken" />
      <xs:element name="responseLanguage" type="tns:ResponseLanguage" />
      <xs:element name="version" type="tns:Version" />
      <xs:complexType name="KeyValuePair">
        <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AuthInfo">
        <xs:sequence>
          <xs:element name="client" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AuthToken">
        <xs:sequence>
          <xs:element name="applicationKey" type="xs:string" />
          <xs:element name="token" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ResponseLanguage">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
      <xs:simpleType name="Version">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:tns="http://response.services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://services.tripolis.com/" targetNamespace="http://response.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://services.tripolis.com/" />
      <xs:complexType name="IDResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="serviceInfoItems">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceInfoItem" type="ns1:KeyValuePair" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="responseStatus" type="tns:ResponseStatus" />
          <xs:element minOccurs="0" name="errors">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="error" type="tns:ServiceError" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseStatus">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="category" type="xs:string" />
          <xs:element minOccurs="0" name="messageLanguage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceError">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="identifierName" type="xs:string" />
          <xs:element minOccurs="0" name="identifierValue" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="identifierId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://request.services.tripolis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://request.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ServiceRequest">
        <xs:all />
      </xs:complexType>
      <xs:complexType name="WorkspaceIDRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceRequest">
            <xs:sequence>
              <xs:element name="workspaceId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="IDRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ServiceRequest">
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://services.tripolis.com/" targetNamespace="http://common.services.tripolis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://services.tripolis.com/" />
      <xs:complexType name="DirectEmailType">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="fromName" type="xs:string" />
          <xs:element minOccurs="0" name="fromAddress" type="xs:string" />
          <xs:element minOccurs="0" name="toEmailFieldId" type="xs:string" />
          <xs:element minOccurs="0" name="replyToAddress" type="xs:string" />
          <xs:element minOccurs="0" name="externalHtmlUrl" type="xs:string" />
          <xs:element minOccurs="0" name="externalTextUrl" type="xs:string" />
          <xs:element name="enableWysiwygEditor" type="xs:boolean" />
          <xs:element minOccurs="0" name="encoding" type="xs:string" />
          <xs:element name="enableAttachments" type="xs:boolean" />
          <xs:element minOccurs="0" name="properties">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="property" type="ns1:KeyValuePair" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="characterEncoding">
        <xs:restriction base="xs:string">
          <xs:enumeration value="UTF8" />
          <xs:enumeration value="ISO8859_1" />
          <xs:enumeration value="ISO8859_2" />
          <xs:enumeration value="ISO8859_5" />
          <xs:enumeration value="ISO8859_7" />
          <xs:enumeration value="ISO8859_15" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="authInfoHeader">
    <wsdl:part name="authInfo" element="ts:authInfo" />
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="getServiceInfoResponse">
    <wsdl:part name="parameters" element="tns:getServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getServiceInfo">
    <wsdl:part name="parameters" element="tns:getServiceInfo" />
  </wsdl:message>
  <wsdl:message name="errorResponseFault">
    <wsdl:part name="errorResponse" element="tns:errorResponse" />
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="getById">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="getByIdResponse">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getByWorkspaceIdResponse">
    <wsdl:part name="parameters" element="tns:getByWorkspaceIdResponse" />
  </wsdl:message>
  <wsdl:message name="getByWorkspaceId">
    <wsdl:part name="parameters" element="tns:getByWorkspaceId" />
  </wsdl:message>
  <wsdl:message name="responseLanguageHeader">
    <wsdl:part name="responseLanguage" element="ts:responseLanguage" />
  </wsdl:message>
  <wsdl:portType name="DirectEmailTypeService">
    <wsdl:operation name="create">
      <wsdl:input name="create" message="tns:create" />
      <wsdl:output name="createResponse" message="tns:createResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="getByWorkspaceId">
      <wsdl:input name="getByWorkspaceId" message="tns:getByWorkspaceId" />
      <wsdl:output name="getByWorkspaceIdResponse" message="tns:getByWorkspaceIdResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="getServiceInfo">
      <wsdl:input name="getServiceInfo" message="tns:getServiceInfo" />
      <wsdl:output name="getServiceInfoResponse" message="tns:getServiceInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update" />
      <wsdl:output name="updateResponse" message="tns:updateResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input name="getById" message="tns:getById" />
      <wsdl:output name="getByIdResponse" message="tns:getByIdResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
      <wsdl:fault name="errorResponse" message="tns:errorResponseFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectEmailTypeServiceSoapBinding" type="tns:DirectEmailTypeService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="create">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getByWorkspaceId">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getByWorkspaceId">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getByWorkspaceIdResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceInfo">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getServiceInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getServiceInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="update">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getById">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getByIdResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:header message="tns:authInfoHeader" part="authInfo" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap12:header message="tns:responseLanguageHeader" part="responseLanguage" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorResponse">
        <soap12:fault use="literal" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectEmailTypeService">
    <wsdl:port name="DirectEmailTypeServicePort" binding="tns:DirectEmailTypeServiceSoapBinding">
      <soap12:address location="https://dialogue.tripolis.cn/api2/soap/DirectEmailTypeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>